@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #023e8a;
  --color-secondary: #33FF57;
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-400 text-gray-900 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-800;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-100 rounded hover:bg-gray-500;
}